@import url('https://fonts.googleapis.com/css?family=Anton|Jura');

// Colors
$primary-color:     #23395B;
$secondary-color:   #040F16;
$white:             #fff;
$zenburn:           #3f3f3f;
$material:          #263238;
$user-token:        #8E5572;
$token-selected:    #A33B20;
$user-self:         #6F30A0;

// Fonts
$anton-font:        'Anton', sans-serif;


// Helpers
$global-pad:        1rem;
